.sidebar
{
    height: 100%;
    width: 15%;
    margin-left: 5%;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.centered
{
    text-align: center;
    width: 100%;
}
.container
{
    text-align: center;
    width: 100%;
}
.row
{
    width: 100%;
    clear: both;
}
.col-3
{
    width: 33%;
    float: left;
}
main{
    margin-left: 15%;
}